<%= bootstrap_form_for(@inventory,layout: :horizontal,:html => { :multipart => true } )do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this Inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <%= f.text_field :item %>
    <%= f.text_area :description %>
    <%= f.text_field :quantity %>
    <%= f.primary %>
<% end %>