<body class="devise">
  <div class="sign_in">
    <h2 style="color: #534292">Sign up</h2><br>
      <%= devise_error_messages! %>
      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.email_field :email, placeholder: "Email address", hide_label: true, icon: "user" %>
              <%= f.password_field :password, placeholder: "Password 8 characters minimum", hide_label: true, icon: "lock"%>
              <%= f.password_field :password_confirmation, placeholder: "Password confirmation", hide_label: true, icon: "lock"%>
              <%= f.submit 'Sign up' , class: "btn btn-primary btn-lg btn-block" %>
      <% end %>
      <%= render "devise/shared/links" %>
  </div>
</body>
