<body class="devise">
	<div class="forgot_password">
	<h2 style="color: #534292">Forgot your password?</h2><br>
	<%= devise_error_messages! %>
		<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name)) do |f| %>
		    <%= f.email_field :email, placeholder: "Email address", hide_label: true %>
		    <%= f.submit 'Send me reset password instructions',class: "btn btn-primary btn-lg btn-block" %>
		<% end %>
	<%= render "devise/shared/links" %>
	</div>
</body>
