<h1>Customer</h1><br>
<table class="table table-striped">
	<tr>
		<th>Customer Id </th>
		<th>First Name</th>
		<th>Zone</th>
	</tr>
	<% @customers.each do |customer| %>
		<tr>
			<td><%= customer.customer_id%></td>
			<td><%= customer.first_name %></td>
			<td><%= customer.zone%></td>
			<td><%= link_to 'Show', customer %></td>
		</tr>
	<% end %>
</table> 


<%= button_to('Add Customer', new_customer_path, :class => 'btn btn-large btn-primary',:method => :get)  %>
