<table>
	<tr>
		<th></th>
		<th><%= "Customer Id" %></th>
		<th><%= "First Name" %></th>
		<th><%= "Last Name" %></th>
		<th><%= "Zone" %></th>
		<th><%= "Plan" %></th>
		<th><%= "Setup Box Number" %></th> 
		<th><%= "Registered Date" %></th>
	</tr>
	<% @customers.each_with_index do |customer,index| %>
		<tr>
			<td><%= index +1 %></td>
			<td><%= customer.customer_friendly_id %></td>
			<td><%= customer.first_name %></td>
			<td><%= customer.last_name %></td>
			<td><%= customer.zone.name %></td>
			<td><%= customer.plan.name%></td>
			<td>
				<% customer.inventories.each do |c| %>
					<%= c.inventory_friendly_id %>,
				<% end %>
			</td>
			<td><%= customer.created_at.strftime '%d-%m-%Y'	 %></td>
		</tr>
	<% end %>
</table> 