<h2>Customer</h2>
<table class="table table-bordered">
	<tr>
		<td>Customer Id</td>
		<td><%= @customer.customer_friendly_id%></td>
	</tr>
	<tr>
		<td>First Name</td>
		<td><%= @customer.first_name.capitalize %></td>
	</tr>
	<tr>
		<td>Last Name</td>
		<td><%= @customer.last_name.capitalize %></td>
	</tr>
	<tr>
		<td>Date of birth</td>
		<td><%= @customer.date_of_birth.strftime '%d-%m-%Y' %></td>
	</tr>
	<tr>
		<td>Email Id</td>
		<td><%= @customer.email_id %></td>
	</tr>
	<tr>
		<td>Mobile No</td>
		<td><%= @customer.mobile_no%></td>
	</tr>
	<tr>
		<td>Address</td>
		<td><%= @customer.address %></td>
	</tr>
	<tr>
		<td>Photo Proof</td>
		<td><%= image_tag @customer.photo.url, :size => "100x100" %></td>
	</tr>
		<tr>
		<td>Address proof</td>
		<td><%= image_tag @customer.address_proof.url, :size => "100x100" %></td>
	</tr>
		<tr>
		<td>Setup Box id</td>
		<td><%= image_tag @customer.setup_box_id.url, :size => "100x100" %></td>
	</tr>
	<tr>
		<td>Setup Box Number </td>
		<td>
			<% @customer.inventories.each do |c| %>
				<%= c.inventory_friendly_id %>,
			<% end %>
		</td>
	</tr>
	<tr>
		<td>Zone</td>
		<td><%= @customer.zone.name%></td>
	</tr>
	<tr>
		<td>Plan</td>
		<td><%= @customer.plan.name%></td>
	</tr>
</table>


