<!-- <h1>Customer Payment </h1><br>
<div>
	<%= form_tag(payments_home_path, :method => "get", id: "search-form") do %>
			<%= text_field_tag :search, params[:search], placeholder: "Search Customers" %><br><br>
			<%= submit_tag "Search" %>
	<% end %>
</div> -->

<div style="position: relative;">
	<h1>Payments List</h1>
	<div style="position: absolute; right: 0; top: 0; text-align: right; max-width: 50%; overflow: hidden">
		<%= form_tag(payments_home_path, :method => "get", id: "search-form") do %>
			<%= text_field_tag :search, params[:search], placeholder: "Search Customers" %>
			<%= submit_tag "Search" %>
		<% end %>
	</div>
</div>
<br>

<table class="table table-striped table-bordered">
	<tr>
		<th></th>
		<th>Name</th>
		<th>Payment Month</th>
		<th>Status</th>
	</tr>
	<% @payment_customers.each_with_index do |payment,index| %>
		<tr>
			<td><%= index + 1%></td>
			<td><%= payment.customer.first_name %></td>
			<td><%= payment.payment_date.strftime("%B, %Y ") %></td>
			<td><%= payment.status %></td>
		</tr>
	<% end %>
</table> 

<%= will_paginate @payment_customers %>





