<% data = Date.today %>
<% present = data.strftime("%B").downcase %>
<% data1 = data - 1.month %>
<% first = data1.strftime("%B") %>
<% data2 = data - 2.month %>
<% previous = data2.strftime("%B") %>

<h1>Payment Status </h1><br>
<table class="table table-striped table-bordered">
	<tr>
		<th>Customer Id</th>
		<th>Customer Name</th>
		<th><%= present%></th>
		<th><%= first %></th>
		<th><%= previous %></th>
	</tr>
	<% @payments.each do |payment| %>
		<tr>
			<td><%= payment.payment.customer_id %></td>
			<td><%= payment.payment.customer.first_name%></td>
			<td><%= payment.payment.january %></td>
		</tr>
	<% end %>
</table> 


