<!DOCTYPE HTML>
<title>SSTD</title>
	<head>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<%= render 'layouts/header' if user_signed_in?  %>
	<body>
	<div class="container-fluid">
		<% if not user_signed_in? %>
			<% flash.each do |key, value| %>
	    		<div class="alert alert-info %>"><%= value %></div>
	  		<% end %>
		<% end %>
		<%= render 'layouts/side_bar' if user_signed_in? %>
		<% if user_signed_in? %>
			<div class="container_main">
				<% flash.each do |key, value| %>
    				<div class="alert alert-success %>"><%= value %></div>
  				<% end %>
				<%= yield %>
			</div>
		<%else%>
			<%= yield %>
		<%end%>	<br><br>
		<%= render 'layouts/footer'  if user_signed_in? %>
		</div>
	</body>
</html>
