<!DOCTYPE HTML>
<title>SSTD</title>
	<head>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<%= render 'layouts/header' if user_signed_in?  %>
	<body>
		<%= render 'layouts/side_bar' if user_signed_in? %>
		<% if user_signed_in? %>
			<div class="container_main">
				<%= yield %>
			</div>
		<%else%>
			<%= yield %>
		<%end%>	<br><br>
		<%= render 'layouts/footer'  if user_signed_in? %>
	</body>
</html>
